{% extends 'band/base.html' %}
{% load static %}


{% block content %}


<h1>
About
</h1>
<div>


            <p>
                The Potheads are an English girl group formed in 1998, consisting of Hermione Granger a.k.a. Brainy ;
                Ginny Weasley aka Sporty; and Luna Lovegood aka Whimsy. With their "harry potter power" mantra, they
                redefined the girl-group concept by targeting a young female fanbase. They led the teen pop resurgence
                of the 1990s and 2000s, were a major part of the Cool Britannia era, and became pop culture icons of
                the decades.
            </p>

</div>
{% endblock %}
