{% extends 'band/base.html' %}
{% load static %}

{% block title %}home{% endblock %}
{% block content %}

  <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{% static 'theme/assets/img/ladies.jpg' %}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">We Will Rock You!!!</h1>

            </div>
        </header>

<h1>

</h1>

{% endblock %}
